<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modelo</title>
</head>

<body>

    <section class="container">
        <h1>Trabalhando com Middleware</h1>
        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>