<%- include('./includes/head.ejs') %>



    <section class="container">
        <h1>
            <!-- 
            <% if(typeof titulo !== 'undefined') { %>
                <%= titulo %>
                    <% } else { %>
                        O título não foi informado
                        <% } %>
 -->

            <!--  <% numeros.forEach(num => { %>
                <%= num %>
                    <% }); %>
 -->
            <%= h1 %>

        </h1>


        <form action="/" method="post">
            <label>Cliente</label>
            <input type="text" name="cliente">
            <button>Submit</button>
        </form>
    </section>

    <%- include('./includes/footer.ejs') %>