<%- include('includes/head'); %>
    <%- include('includes/nav'); %>


        <div class="container">
            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-5">
                    <h1 class="display-1 text-center">Erro 404</h1>
                    <p class="text-center lead">A página que você procura não existe</p>
                </div>
                <div class="col-lg-2"></div>

            </div>

        </div>



        <%- include('includes/footer'); %>