<%- include('includes/head'); %>
    <%- include('includes/nav'); %>


        <div class="container">
            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Contato</h1>
                    <p class="text-center lead">Criar ou editar Contatos</p>

                    <%- include('includes/messages.ejs') %>
                        <% if(contato._id) { %>
                            <form class="form-contato" action="/contato/edit/<%= contato._id %>" method="POST">
                                <% } else { %>
                                    <form class="form-contato" action="/contato/register" method="POST">
                                        <%  } %>

                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                            <div class="form-group">
                                                <label for="exampleInputName">Nome</label>
                                                <input type="text" value="<%= contato.nome %>" class="form-control" name="nome" id="exampleInputName" placeholder="Enter your name">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputSobrenome">Sobrenome</label>
                                                <input type="text" value="<%= contato.sobrenome %>" class="form-control" name="sobrenome" id="exampleInputSobrenome" placeholder="Enter your sobrenome">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" value="<%= contato.email %>" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputTel">Telefone</label>
                                                <input type="tel" value="<%= contato.telefone %>" class="form-control" name="telefone" id="exampleInputTel" placeholder="Enter your Phone">
                                            </div>

                                            <button type="submit" class="btn btn-success">Salvar</button>
                                    </form>

                </div>
                <div class="col-lg-2"></div>

            </div>

        </div>



        <%- include('includes/footer'); %>