<%- include('includes/head'); %>
    <%- include('includes/nav'); %>


        <div class="container">
            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Agenda</h1>
                    <p class="text-center lead">Lista de Contatos</p>

                    <%- include('includes/messages.ejs') %>

                        <% if(contatos.length > 0) { %>

                            <div class="responsive-table">
                                <table class="table my-3">
                                    <% contatos.forEach(contato => { %>
                                        <tr>
                                            <td>
                                                <%= contato.nome %>
                                            </td>
                                            <td>
                                                <%= contato.sobrenome %>
                                            </td>
                                            <td>
                                                <%= contato.email %>
                                            </td>
                                            <td>
                                                <%= contato.telefone %>
                                            </td>
                                            <td>
                                                <a href="/contato/index/<%= contato._id %>">Editar</a>

                                            </td>
                                            <td>
                                                <a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a>
                                            </td>


                                        </tr>


                                        <% }); %>

                                </table>
                            </div>

                            <% } else { %>
                                <p class="text-center lead">Não há contatos cadastrados</p>
                                <% } %>


                </div>
                <div class="col-lg-2"></div>

            </div>

        </div>



        <%- include('includes/footer'); %>