<%- include('includes/head'); %>
    <%- include('includes/nav'); %>


        <div class="container">

            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Olá
                        <%= user.email %>
                    </h1>
                    <!-- <p class="text-center lead">Faça login ou crie sua conta abaixo</p> -->
                    <%- include('includes/messages.ejs');%>




                        <div class="col-lg-2"></div>

                </div>

            </div>



            <%- include('includes/footer'); %>