<%- include('includes/head'); %>
    <%- include('includes/nav'); %>


        <div class="container">

            <div class="row">

                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Login</h1>
                    <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
                    <%- include('includes/messages.ejs');%>

                        <div class="row">
                            <div class="col-lg">
                                <h4>Faça seu Cadastro</h4>
                                <form class="form-cadastro" action="/login/register" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn btn-success">Criar conta</button>
                                </form>
                            </div>
                            <div class="col-lg">
                                <h4>Logar no sistema</h4>
                                <form class="form-login" action="/login/login" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                                    <div class="form-group">
                                        <label for="exampleInputEmail2">Email address</label>
                                        <input type="email" class="form-control" name="email" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputPassword2">Password</label>
                                        <input type="password" class="form-control" name="password" id="exampleInputPassword2" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn btn-primary">LogIn</button>

                                </form>

                            </div>
                        </div>


                        <div class="col-lg-2"></div>

                </div>

            </div>



            <%- include('includes/footer'); %>