<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Agenda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/contato/index">Cadastrar Contato</a>
            </li>

            <% if(user) { %>

                <li class="nav-item">
                    <a class="nav-link" href="/login/logout">LogOut</a>
                </li>


                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login/index">Login</a>
                    </li>

                    <% } %>




        </ul>

    </div>
</nav>